<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.dicent"
      android:versionCode="6" android:versionName="2.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false">
		<activity android:name=".Dicent"
			android:label="@string/app_name">
		<intent-filter>
        	<action android:name="android.intent.action.MAIN" />
       		<category android:name="android.intent.category.LAUNCHER" />
		</intent-filter>	
		</activity>
		<activity android:name=".DicentPreferences"
			android:label="@string/preferencesTitle" />
		<activity android:name=".SelectDice"
			android:label="@string/selectDiceTitle" />
		<activity android:name=".Results"
			android:label="@string/resultsTitle" />
    </application>
    <uses-permission android:name="android.permission.VIBRATE" />
	<uses-sdk android:minSdkVersion="3" />

</manifest> 